/* for Tags Default Styling */
$dark: #163966;
$light:lightgrey;
*{
  margin: 0;
  padding: 0px;

}
.body{
  width: 100vw;
  height: 100vh;
  background-color: $light;
}
select,button{
  min-height:35px;
  min-width:140px;
  padding: 2px 5px;
  font-size: 15px;
  margin:5px
}
button{
  min-width: 90px;
}
input{
  min-height:25px;
  min-width:100px;
  padding: 2px 5px;
  font-size: 15px;
  margin:5px

}

/* custom classes for UI */

.row{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}
.main{
  width: 100vw;
}
.container
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  padding: 2%;
  background-color: aliceblue;
}
.flexStart{
  justify-content: flex-start;
}

.flexEnd{
  justify-content: flex-end;
}
.flexAIC{
  align-items: center;
}
.flexJCC{
  justify-content: center;
}
.flexSB{
  justify-content: space-between;
}
.flexSA{
  justify-content: space-Around;
}
.flexSE{
  justify-content: space-evenly;
}
.margin20{
  margin: 20px;
}
.card{
  padding: 15px;
  min-width: 10%;
  min-height: 10%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.wrap{
  flex-wrap: wrap;
}

.btn
{
  min-width: 60px;
  min-height: 37px;
  padding: 5px 8px 5px 8px;
  outline: 1px solid whitesmoke;
  font-size: 19px;
  border-radius: 5px;   
  border: none;
  outline: none;background-color: white;
}
.logo{
max-height:100% ;
padding: 2%;
}

.link
{
  color: white;
  background-color: #4500ff;
}
.btn-trans
{
  color: white;
  background-color: transparent;
}
.btn-success
{
  color: white;
  background-color: rgb(10, 173, 10);
}
.btn-black{
  color: white;
  background-color: #303030;
}
.btn-warning
{
  background-color: #ffee00;
}
.btn-danger
{
  color: white;
  background-color: #d80000;
}
.btn-info
{
  color: white;
  background-color: #008dce;
}

.searchbox
{
  height:90%;
  border:1px solid rgb(189, 189, 189);
  border-radius:5px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
 width: 52%;
 background-color: white;
 overflow: hidden;
 padding: 0px 0.4%;
}
.searchbox input
{
  width: 88%;
  height: 97%;
  font-size: 20px;
  border: none;
}
.border-outline-none{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;

}
.btn:active {
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow:    inset 1px 1px 10px #333;
  box-shadow:         inset 1px 1px 10px #333;
}
.searchbox input:hover,.searchbox input:focus{
  outline: none;

}
.hamburger{
  font-size: 25px;
}
.w100{
  width: 100%;
}
.w50{
  width: 50%;
}
.w33{
  width: 33%;
}
.w31{
  width: 29.33%;
}
.w20
{
  width: 20%;
}
.w60{
  width: 60%;
}
.w40{
  width: 40%;
}
.p1{
  padding: 1% ;
}
.p3
{
  padding: 3%;
}
.p5{
  padding: 5%;
}
.m1{
  margin: 1%;
}
.m2{
  margin: 2%;
}
.m3{
  margin: 3%;
}
.m5
{
  margin: 5%;
}
.mbg1{
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
.mbg2{
  background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%);
}
.lbg1{
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.lbg2{
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.lbg3{
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.lbg4{
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.dbg1{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.dbg2{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.bgWhite{
  background-color: white;
  color: black;
}
.bgBlack{
  color: white;
  background-color: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%);
}
.brd5{
border-radius: 5px;
}
.brd2{
  border-radius: 2px;
  }
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 1% .5% 1%;
  width: 98%;
 min-height: 120px;
  height: 7%; 
}
.footerBody{
  margin-top: 50px;
  width: 100;
  
}
.fclBlack{
  color: black;
}

.fclWhite{
  color: white;
}
/* D-styling */

// nav styling

nav{
  display: flex;
  width: 90%;
  max-height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  z-index: 1000;
  background-color: $dark;
  position: fixed;
  top:0
}
.navBody{
  background-color: $light;
  width: 90%;
  padding:  60px 5%;
}
.tCol1{
  background-color:$dark;
}
.fCol2{
  background-color: $light;
}
.darkdiv{
  background-color: $dark;
  color: white;
}
.lightdiv{
  background-color: white;
  color: $dark;
}
.navlink{
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.image{
  width: 300px;
  max-width:300px;
  max-height: 240px;
}
.linker:hover{
color: rgb(22, 186, 22);
}
.searchSpan input{
  min-width: 0px !important;
  width: 0px ;
  transition: width 2s;
  padding: 0px;
  height: 35px;
  font-size: 18px;
  margin: 0px;
  border-radius: 2px;
  border: none;
}
.searchSpan:hover{
  input{
    width: 170px;
    padding: 1px 5px;
  }
}
select:focus,input:focus{
  outline: none;
}
.bar{
  border: none;
  display: none;

}
.now a{
  color: white !important;
  text-decoration: none;
}

.lbggrey{
  background-color: rgb(224, 235, 245);
  min-width: 100px;
}
.bgWhite{
  background-color: white;
}
.mt{
  margin: 0.5% 0;
}
.cbox div{
  min-height: 50px;
  justify-content: center;
}
.cbox div div{
  min-height: auto;
}
.bin{
  min-height: 30px;
  display: flex;
  justify-content: center;
  min-width: 30px;
  align-items: center;
  padding: 6px;
  border-radius: 50%;
  border: none;
  font-size: 15px;
  margin: 0px;
  background: #4a4aff;
  color: white;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

  .navlink{
    justify-content: center;
    span{
      display: none;
    justify-content: center;
    }
    option{
      color: black !important;
      font-size: 15px;
    }
    .bar{
      display: block;
    }
  }
  .navup{
    button{
      font-size: 18px;
      display: flex;
      align-items: center;
      font-weight: 800;
    }
  }
  .newsbox{
    flex-direction: column;
  }
  .newsbox{
    margin: 6% 1%;
img{
  min-width:80%;
  margin: 3%;
}
.details{
  width: 85% !important;
  h3{
    font-size: 16px;
  }
  p{
    font-size: 12px;
  }
}
  }
}
.map{
  width: 100%;
  height: 600px;
  margin-top: 20px;
}
.cardhov:hover { transform: scale(1.1); }
.coldiv{
  height: 30px;
    border-radius: 50%;
    width: 30px;
    margin: 10px 5px;
}
.coldiv:hover{
  transform: scale(1.5);
}
.Clock{
  text-align: center;
  font-family: 'Iceland';
  font-size: 15rem;
  margin: 1%;
  color: white;

    text-shadow: -1px 6px 0 rgb(255, 0, 0), -7px 1px 0 #0026ff, 1px -1px 0 #000, -1px -1px 0 #001cff;
}
.Clock:hover{
  transform: scale(1.01);
}
.zone{
  width: 30%;
  height: 50px;
  border: 2px solid #5da6ff;
  margin: 2%;
  font-size: 20px;
}
.rtr{
  background-image: url('../public/asss.jpg');
  background-size: cover;
  background-position: center;
}